services:
  webserver:
    image: nginx:alpine
    ports:
      - "5000:80"
    volumes:
      - ./:/var/www
      - ./nginx.app.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    restart: unless-stopped

  app:
    build:
      context: .
    volumes:
      - ./:/var/www
    environment:
      DB_HOST: db
      DB_DATABASE: ${DB_DATABASE:-alorea}
      DB_USERNAME: ${DB_USERNAME:-root}
      DB_PASSWORD: ${DB_PASSWORD:-secret}
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-secret}
      MYSQL_DATABASE: ${DB_DATABASE:-alorea}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

  phpmyadmin:
    image: phpmyadmin
    ports:
      - "8004:80"
    environment:
      PMA_HOST: db
    depends_on:
      - db
    restart: unless-stopped

volumes:
  mysql_data:
