services:
  webserver:
    image: nginx:1.27.3-alpine
    ports:
      - "5000:80"
    volumes:
      - ./:/app
      - ./nginx.app.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    restart: always

  app:
    build: .
    container_name: alorea_app
    working_dir: /app
    volumes:
      - ./:/app
    expose:
      - "9000"
    depends_on:
      db:
        condition: service_healthy
    restart: always

  db:
    image: mysql:8.0
    container_name: alorea_db
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "root", "-p${DB_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
    restart: always

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8003:80
    environment:
      - PMA_HOST=db
    depends_on:
      - db
volumes:
  mysql_data:
